<h1>HOME PAGE</h1>
<% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
<% end %>

<% if Current.user  %>
    <p>Hello! Welcome Back <%= Current.user.username %></p>
<% end %>

<% if Current.user  %>
    <%= button_to "Log Out", logout_path, method: :delete %>
<% else %>
    <button><%= link_to "Sign Up", "/signup" %></button>
    <button><%= link_to "Sign In", "/signin" %></button>
<% end %>
<button><%= link_to "Books", "/books" %></button>
