<h1>SignUP</h1>

<%= form_with model:@user, url: signup_path do |form| %>

    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    <% end %>

    <%= form.label :email, "Email" %> <br>
    <%= form.text_field :email %> <br>
    <%= form.label :username, "Username" %> <br>
    <%= form.text_field :username %> <br>
    <%= form.label :password, "Password" %> <br>
    <%= form.password_field :password %> <br>
    <%= form.label :password_confirmation, "Password Confirmation" %> <br>
    <%= form.password_field :password_confirmation %> <br> <br>

    <%= form.submit "Submit" %>
<% end %>